<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Page </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" %>
  <!-- Vendor CSS Files -->
  <%= stylesheet_link_tag "aos" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-icons" %>
  <%= stylesheet_link_tag "boxicons.min" %>
  <%= stylesheet_link_tag "glightbox.min" %>
  <%= stylesheet_link_tag "swiper-bundle.min" %>

</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Duvenary</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!--<li><a class="nav-link scrollto" href="#services">Services</a></li>-->
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <!--<li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Chart Example</h1>
            <h2>csv charts</h2>
                <div class="btn-group cl1" role="group" >
                  <button type="button" class="list-group-item list-group-item-primary "><%= link_to "First", "first" %></button>
                  <button type="button" class="list-group-item list-group-item-primary "><%= link_to "Middle", "middle" %></button>
                  <button type="button" class="list-group-item list-group-item-primary "><%= link_to "Last", "last" %></button>
                </div>
                <div class="btn-group cl1" role="group" >
                 <button type="button" class="list-group-item list-group-item-primary"><%= link_to "Address1", "address1" %></button>
                 <button type="button" class="list-group-item list-group-item-primary"><%= link_to "Address2", "address2" %></button>
                 <button type="button" class="list-group-item list-group-item-primary"><%= link_to "City", "city" %></button>
                </div>
                <div class="btn-group cl1" role="group" >
                  <button type="button" class="list-group-item list-group-item-primary"><%= link_to "State", "state" %></button>
                  <button type="button" class="list-group-item list-group-item-primary"><%= link_to "Zip", "zip_code" %></button>
                  <button type="button" class="list-group-item list-group-item-primary"><%= link_to "Prefix", "prefix" %></button>
                </div>
                <div class="btn-group cl1" role="group" >
                  <button type="button" class="list-group-item list-group-item-primary"><%= link_to "Education", "education" %></button>
                  <button type="button" class="list-group-item list-group-item-primary"><%= link_to "Income", "income" %></button>
                  <button type="button" class="list-group-item list-group-item-primary"><%= link_to "Prefix", "prefix" %></button>
                </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <!-- <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">-->
            <%= pie_chart @t,donut: true,  legend: false%>
          </div>
        </div>
      </div>

    </section><!-- End Hero -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Newsletter</h4>
            <p>Coming Soon</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Michael D.</h3>
            <p>
               <br>
              Los Angeles, CA 91206<br>
              United States <br><br>
              <strong>Phone:</strong> +3234415513<br>
              <strong>Email:</strong> m.duvenary@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Linkedin</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Github</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Heroku</a></li>
             <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>My Skills</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Software Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Object Oriented Programming</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hardware Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Circuit Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>My Socials</h4>
            <p>Coming Soon</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>